In [17]:
%matplotlib inline

import numpy as np
import astropy as ap
import astropy.units as u
from astropy.table import QTable
import matplotlib as plt
# import astroquery as aq - fix anaconda and virenv before getting this

In [60]:
# Values table thing goes here
# Q for JuriÄ‡: do I need to cite things in-code???
# citation, just in case: https://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2019%20OK

# vertical or horizontal?

Element = ["e", "a", "q", "i", "node", "peri", "M", "t_p", "period", "n", "Q"]
Value = [.7571011351666629, 1.866845215104908, .4534545835685292, 2.089875053674596,
         302.0443761140395, 106.0972546563977, 101.8116827265041, 2458737.014932156260, 
         931.6673871166022, .3864039945781041, 3.280235846641287]
Unit = ["Null", "AU", "AU", "deg", "deg", "deg", "deg", "unsure", "days", "deg/d", "AU"]

hi = QTable([Element, Value, Unit],
          names=('Element', 'Value', 'Units'),
          meta={'name': '2019OK data'})

print(hi)

Element       Value        Units
------- ------------------ ------
      e 0.7571011351666629   Null
      a  1.866845215104908     AU
      q 0.4534545835685292     AU
      i  2.089875053674596    deg
   node  302.0443761140395    deg
   peri  106.0972546563977    deg
      M  101.8116827265041    deg
    t_p  2458737.014932156 unsure
 period  931.6673871166022   days
      n 0.3864039945781041  deg/d
      Q  3.280235846641287     AU

In [61]:
# how to add units to the line that says 'object' right now
Element = ["e", "a", "q", "i", "node", "peri", "M", "t_p", "period", "n", "Q"]
Value = [.7571011351666629, 1.866845215104908, .4534545835685292, 2.089875053674596,
         302.0443761140395, 106.0972546563977, 101.8116827265041, 2458737.014932156260, 
         931.6673871166022, .3864039945781041, 3.280235846641287]
Value = np.array(Value)
Value = np.transpose(Value)
Unit = [u.dimensionless_unscaled, u.AU, u.AU, u.deg, u.deg, u.deg, u.deg, u.dimensionless_unscaled, u.d, u.deg/u.d, u.AU]
bye = QTable(Value*Unit, names = Element,)
bye

<QTable length=1>
        e                   a           ...          Q
      object              object        ...        object
------------------ -------------------- ... --------------------
0.7571011351666629 1.866845215104908 AU ... 3.280235846641287 AU

In [2]:
# JPL integration

In [3]:
# OpenOrb integration